Repository great-expectations/great_expectations, pull requests merged in 2020-08, with the labels that each got.

#1818 [BUGFIX] SuiteEditNotebookRenderer no longer break GCS and S3 data paths
  docs/changelog.rst
  great_expectations/render/renderer/suite_edit_notebook_renderer.py
  tests/render/renderer/test_suite_edit_notebook_renderer.py
Labels: bug

#1812 [FEATURE] Add new expectation expect_sum_of_columns_to_be_equal (pandas)
  docs/changelog.rst
  docs/reference/core_concepts/expectations/implemented_expectations.rst
  docs/reference/glossary_of_expectations.rst
  great_expectations/dataset/pandas_dataset.py
  great_expectations/dataset/sparkdf_dataset.py
  tests/data_asset/test_data_asset.py
  tests/test_definitions/multicolumn_map_expectations/expect_multicolumn_sum_to_equal.json
  tests/test_utils.py
Labels: enhancement

#1825 [DOCS][BUGFIX] Slack Notification Validation Action Doc image updated and link fix
  docs/guides/how_to_guides/validation/how_to_trigger_slack_notifications_as_a_validation_action.rst
  docs/images/slack_notification_example.png
Labels: bug, docs

#1846 [DOCS] Fixing broken images and links
  docs/guides/how_to_guides/configuring_data_docs/how_to_host_and_share_data_docs_on_azure_blob_storage.rst
  docs/guides/how_to_guides/configuring_metadata_stores/how_to_configure_a_validation_result_store_in_azure_blob_storage.rst
  docs/guides/how_to_guides/configuring_metadata_stores/how_to_configure_a_validation_result_store_in_gcs.rst
  docs/guides/how_to_guides/configuring_metadata_stores/how_to_configure_a_validation_result_store_in_s3.rst
  docs/guides/how_to_guides/configuring_metadata_stores/how_to_configure_a_validation_result_store_on_a_filesystem.rst
  docs/guides/how_to_guides/configuring_metadata_stores/how_to_configure_a_validation_result_store_to_postgresql.rst
  docs/guides/how_to_guides/configuring_metadata_stores/how_to_configure_an_expectation_store_in_amazon_s3.rst
  docs/guides/how_to_guides/configuring_metadata_stores/how_to_configure_an_expectation_store_in_azure_blob_storage.rst
  docs/guides/how_to_guides/configuring_metadata_stores/how_to_configure_an_expectation_store_in_gcs.rst
  docs/guides/how_to_guides/configuring_metadata_stores/how_to_configure_an_expectation_store_on_a_filesystem.rst
  docs/guides/how_to_guides/configuring_metadata_stores/how_to_configure_an_expectation_store_to_postgresql.rst
  docs/guides/how_to_guides/configuring_metadata_stores/how_to_save_metrics.rst
  docs/guides/how_to_guides/creating_and_editing_expectations/how_to_create_expectations_that_span_multiple_batches_using_evaluation_parameters.rst
  docs/guides/how_to_guides/creating_and_editing_expectations/how_to_edit_an_expectation_suite_using_a_disposable_notebook.rst
  docs/guides/how_to_guides/creating_and_editing_expectations/spare_parts/how_to_create_expectations.rst
  docs/guides/how_to_guides/miscellaneous/how_to_add_comments_to_a_page_in_documentation.rst
  docs/guides/how_to_guides/miscellaneous/how_to_write_a_how_to_guide.rst
  docs/guides/how_to_guides/validation/how_to_trigger_slack_notifications_as_a_validation_action.rst
  docs/guides/tutorials/explore_expectations_in_a_notebook.rst
  docs/guides/tutorials/getting_started/connect_to_data.rst
  docs/guides/tutorials/getting_started/customize_your_deployment.rst
  docs/guides/tutorials/getting_started/set_up_data_docs.rst
  docs/guides/tutorials/quick_start.rst
  docs/index.rst
  docs/reference/core_concepts/conditional_expectations.rst
  docs/reference/core_concepts/data_context.rst
  docs/reference/core_concepts/data_docs.rst
  docs/reference/core_concepts/profiling.rst
  docs/reference/spare_parts/data_docs_reference.rst
Labels: docs, documentation
