Repository great-expectations/great_expectations, pull requests merged in 2020-06, with the labels that each got.

#1526 * [BUGFIX] Fixed bug preventing GCS Data Docs sites to cleaned
  docs/reference/changelog.rst
  great_expectations/data_context/store/tuple_store_backend.py
Labels: bug

#1536 * [BUGFIX] Correct doc link in checkpoint yml
  docs/reference/changelog.rst
  great_expectations/data_context/checkpoint_template.yml
  tests/cli/test_checkpoint.py
Labels: bug, docs

#1537 [DOCS] Rewrite how_to_edit_an_expectation_suite_using_a_disposable_notebook
  docs/how_to_guides/creating_and_editing_expectations/how_to_create_a_new_expectation_suite_using_the_cli.rst
  docs/how_to_guides/creating_and_editing_expectations/how_to_create_and_or_edit_an_expectation_suite_using_a_disposable_notebook.rst
  docs/how_to_guides/creating_and_editing_expectations/how_to_edit_an_expectation_suite_using_a_disposable_notebook.rst
  docs/how_to_guides/creating_and_editing_expectations/spare_parts/how_to_edit_an_expectation_suite_using_a_disposable_notebook.rst
Labels: docs

#1546 [DOCS] Fixed typo in link to Validation Actions DOC
  docs/how_to_guides/validation/how_to_trigger_slack_notifications_as_a_validation_action.rst
Labels: bug, docs

#1558 [DOCS] Removing extra text at end of Slack Validation how-to-guide
  docs/how_to_guides/validation/how_to_trigger_slack_notifications_as_a_validation_action.rst
Labels: bug, docs

#1530 [DOCS] Will/docs/how to/metadata stores/expectation on filesystem
  docs/how_to_guides/configuring_metadata_stores/how_to_configure_an_expectation_store_on_a_filesystem.rst
Labels: docs

#1515 [Docs] Add how_to_create_custom_expectations_for_pandas.rst
  docs/how_to_guides/creating_and_editing_expectations/how_to_create_custom_expectations_for_pandas.rst
  docs/how_to_guides/creating_and_editing_expectations/how_to_invoke_custom_expectations_using_a_datasource.rst
  docs/how_to_guides/creating_and_editing_expectations/how_to_invoke_custom_expectations_without_a_datasource.rst
  docs/how_to_guides/creating_and_editing_expectations/spare_parts/how_to_create_custom_expectations.rst
Labels: docs

#1551 [DOCS] Will/docs/how to/metadata stores/expectation on s3
  docs/how_to_guides/configuring_metadata_stores/how_to_configure_an_expectation_store_in_amazon_s3.rst
Labels: docs

#1616 [BUGFIX] fixed bug in rounding of mostly argument to nullity expectations produced by the BasicSuiteBuilderProfiler
  docs/reference/changelog.rst
  great_expectations/profile/basic_suite_builder_profiler.py
  tests/profile/fixtures/expected_evrs_BasicSuiteBuilderProfiler_on_titanic_demo_mode.json
  tests/profile/fixtures/expected_evrs_SuiteBuilderProfiler_on_titanic_with_configurations.json
  tests/profile/test_basic_suite_builder_profiler.py
Labels: bug

#1639 [ENHANCEMENT] Added note for config_version in great_expectations.yml
  great_expectations/data_context/templates.py
Labels: enhancement

#1638 [BUGFIX] instantiation of ExpectationSuite always adds ge version metadata to prevent datadocs from crashing
  great_expectations/core/__init__.py
  tests/core/test_expectation_suite.py
  tests/data_asset/test_data_asset_internals.py
Labels: bug

#1632 [DOCS] will/docs/how_to/Store Expectations on Google Cloud Store
  docs/how_to_guides/configuring_metadata_stores/how_to_configure_an_expectation_store_in_gcs.rst
  setup.py
Labels: docs

#1612 [BUGFIX] database_store_backend does not support storing Expectations in DB
  great_expectations/data_context/store/database_store_backend.py
  great_expectations/data_context/store/expectations_store.py
  tests/data_context/store/test_database_store_backend.py
  tests/data_context/store/test_expectations_store.py
Labels: bug

#1633 [FEATURE] JSONSchema profiler creates basic suites
  docs/how_to_guides/creating_and_editing_expectations/how_to_create_a_suite_from_a_json_schema_file.rst
  docs/reference/changelog.rst
  great_expectations/profile/base.py
  great_expectations/profile/basic_dataset_profiler.py
  great_expectations/profile/basic_suite_builder_profiler.py
  great_expectations/profile/json_schema_profiler.py
  great_expectations/render/renderer/other_section_renderer.py
  tests/profile/test_jsonschema_profiler.py
  tests/profile/test_profile.py
Labels: docs, enhancement

#1566 [DOCS] Will/docs/how to/metadata stores/validation on s3
  docs/how_to_guides/configuring_metadata_stores/how_to_configure_a_validation_result_store_in_s3.rst
  docs/how_to_guides/configuring_metadata_stores/how_to_configure_an_expectation_store_in_amazon_s3.rst
  docs/how_to_guides/configuring_metadata_stores/how_to_configure_an_expectation_store_in_gcs.rst
  docs/how_to_guides/configuring_metadata_stores/how_to_configure_an_expectation_store_in_git.rst
Labels: docs
