Repository great-expectations/great_expectations, pull requests merged in 2022-01, with the labels that each got.

#3688 [DOCS] Add howto for the OpenLineage validation operator
  docs/guides/validation/validation_actions/how_to_collect_openlineage_metadata_using_a_validation_action.md
  sidebars.js
Labels: community, devrel

#3971 [DOCS] Fix incorrect variable name in how_to_configure_an_expectation_store_in_amazon_s3.md
  docs/guides/setup/configuring_metadata_stores/how_to_configure_an_expectation_store_in_amazon_s3.md
Labels: docs, community, devrel

#3963 [DOCS] Revamp Airflow Deployment Pattern
  docs/deployment_patterns/how_to_run_a_checkpoint_in_airflow.md
  docs/deployment_patterns/how_to_use_great_expectations_with_airflow.md
  sidebars.js
Labels: docs, community, devrel

#4013 [DOCS] swap of old uri for new in data docs generated
  great_expectations/render/renderer/site_builder.py
Labels: docs, core-team
